@use '../../styles/variables/index' as *;


.mapContainer {
  height: 25rem;
  width: 100%;
  border-radius: $space-3;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.mapError {
  height: 25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--error);
  background-color: rgba(32, 32, 55, 0.6);
  border-radius: $space-3;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.marker {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $color-danger;
  border: 0.125rem solid white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.active {
    background-color: $color-primary;
    transform: scale(1.2);
  }
} 